apiVersion: apps/v1
kind: Deployment
metadata:
  name: random-scheduler
  labels:
    app: random-scheduler
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: random-scheduler
  template:
    metadata:
      labels:
        app: random-scheduler
    spec:
      serviceAccount: random-scheduler
      containers:
        - name: random-scheduler
          image: sehrenstein/random-scheduler:latest
          imagePullPolicy: Always
          env:
            - name: TARGET_NAMESPACE
              value: default
