# do not ignore the whole ".settings" folder. For example, save actions should be used by all contributors (see org.eclipse.jdt.ui.prefs).
**/.settings/edu.umd.cs.findbugs.core.prefs
**/.settings/org.eclipse.buildship.core.prefs
**/.settings/org.eclipse.jdt.core.prefs
.project
.classpath
build-eclipse/
bin/
build/
dist/
tmp/
#META-INF/MANIFEST.MF
#plugin.properties
#plugin.xml
*~
*.backup
/*.log
.DS_Store
#/docs
/javadoc
.gradle
/.gradle/
#/src-gen
#/test-gen

# IntelliJ
.idea/
*.iml
*.iws
