image: openjdk:11-jdk

# Disable the Gradle daemon for Continuous Integration servers as correctness
# is usually a priority over speed in CI environments. Using a fresh
# runtime for each build is more reliable since the runtime is completely
# isolated from any previous builds.
variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

cache:
  paths:
    - .gradle

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

stages:
  - build
  - test
  - check
  - deploy

build:
  stage: build
  tags:
    - dockerex
  script: ./gradlew --build-cache assemble

test:
  stage: test
  tags:
    - dockerex
  script: ./gradlew test

.checkstyle:
  stage: check
  tags:
    - dockerex
  script: ./gradlew checkstyle
  
.pmd:
  stage: check
  tags:
    - dockerex
  script: ./gradlew pmd
  
.spotbugs:
  stage: check
  tags:
    - dockerex
  script: ./gradlew spotbugs

.deploy:
  stage: deploy
  tags:
    - dockerex
  # see https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
  # for image usage and settings for building with TLS and docker in docker
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
    - docker build --pull -t titan-ccp-exp-bigdata19-bridge ./exp-bigdata19-bridge
    - docker tag titan-ccp-exp-bigdata19-bridge $DOCKERHUB_ORG/titan-ccp-exp-bigdata19-bridge:${DOCKER_TAG_NAME}latest
    - docker tag titan-ccp-exp-bigdata19-bridge $DOCKERHUB_ORG/titan-ccp-exp-bigdata19-bridge:$DOCKER_TAG_NAME$CI_COMMIT_SHA
    - echo $DOCKERHUB_PW | docker login -u $DOCKERHUB_ID --password-stdin
    - docker push $DOCKERHUB_ORG/titan-ccp-exp-bigdata19-bridge
    - docker logout
  only:
    variables:
      - $DOCKERHUB_ORG
      - $DOCKERHUB_ID
      - $DOCKERHUB_PW