alertmanager:
  enabled: false

grafana:
  enabled: false

kubeApiServer:
  enabled: false

kubelet:
  enabled: false

kubeControllerManager:
  enabled: false

coreDns:
  enabled: false

kubeDns:
  enabled: false
 
kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

kubeStateMetrics:
  enabled: false
 
nodeExporter:
  enabled: false

prometheusOperator:
  enabled: true
  namespaces:
    releaseNamespace: true
    additional: []

prometheus:
  enabled: false
